image-list {
    display: block;
    .disabled-cover {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: black;
        opacity: .8;
    }
    .image-container {
        position: relative;
        display: inline-block;
        margin: 5px;
    }
    .number-badge {
        position: absolute;
        bottom: 5px;
        left: calc(50% - 10px);
    }
    .left-button {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
    .right-button {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .add-remove-button {
        position: absolute;
        bottom: 5px;
        left: calc(50% - 20px);
    }
    .number-badge:hover {
        opacity: .4;
    }
}