progress-sparse {
    display: table;
    display: inline-block;
    width: 300px;
    height: 25px;
    .baseline-bar {
        overflow: hidden;
        position: relative;
        min-width: 2px;
        height: 100%;
        background-color: lightgrey;
        padding-left: 20px;
        padding-right: 20px;
    }
    .inner-bar {
        position: relative;
        height: 100%;
        background-color: green;
        z-index: 100000;
        border-top: 3px solid lightgrey;
        border-bottom: 3px solid lightgrey;
    }
    .min {
        padding-right: 4px;
        float: left;
        text-align: right;
        height: 100%;
        padding-top: 3px;
    }
    .max {
        padding-left: 4px;
        float: right;
        text-align: left;
        height: 100%;
        padding-top: 3px;
    }
    .lower,
    .upper {
        display: inline-block;
        position: absolute;
        font-weight: bold;
        color: black;
    }
    .lower {
        left: -10px;
    }
    .upper {
        right: -10px;
    }
}