<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Sources</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let source of sources">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-sm>
                        <ion-item>
                            <ion-label floating>Path</ion-label>
                            <ion-input type="text" [(ngModel)]="source.folderPath"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm>
                        <ion-item>
                            <ion-label floating>Media Type</ion-label>
                            <ion-select [(ngModel)]="source.mediaTypeId">
                                <ng-container *ngFor="let mediaType of mediaTypes">
                                    <ion-option *ngIf="mediaType.name !== 'TvEpisode'" [value]="mediaType.id">{{mediaType.name}}</ion-option>
                                </ng-container>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-sm-2 text-center>
                        <ion-item>
                            <button ion-button color="danger" (click)="sources.splice(sources.indexOf(source),1)">Delete</button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <button ion-button color="secondary" (click)="sources.push({})">
        <ion-icon name="add"></ion-icon>&nbsp;Add source
    </button>
    <button ion-fab class="save" color="primary" (click)="save()">
        <save-icon></save-icon>
    </button>
</ion-content>