<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Viewing History</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <div style="max-width:800px;margin: 0 auto;">
        <p *ngIf="historyRecords?.length === 0">You haven't watched anything yet! You should fix that. ;)</p>
        <ion-card *ngFor="let record of historyRecords">
            <ion-card-content>
                <img class="pointer" [src]="record.posterUrl" [mediaInfoClick]="record.mediaItemId" />
                <div class="right-area">
                    <button ion-button small class="delete-button" color="danger" (click)="deleteHistoryRecord(record)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                    <ion-grid>
                        <ion-row>
                            <h1>
                                <a class="pointer" [mediaInfoClick]="record.mediaItemId">{{record.title}}</a>
                            </h1>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 col-sm-6>
                                <b>Start Date: </b>
                                <span>{{record.dateBegin | date:'M/d/yy'}}&nbsp;{{record.dateBegin | date:'h:mma'}}</span>
                            </ion-col>
                            <ion-col col-12 col-sm-6>
                                <b>Minutes Watched: </b>
                                <span>{{record.minutesWatched}}</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <progress-sparse style="width: 100%" unit="min" [min]="0" [max]="record.runtimeMinutes" [lower]="record.progressMinutesBegin"
                                [upper]="record.progressMinutesEnd"></progress-sparse>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="loadMore()">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>