page-history {
    progress-sparse {
        margin: auto;
    }
    ion-card img {
        width: initial;
    }
    img {
        height: 100px;
        float: left;
    }
    .right-area {
        overflow: hidden;
        padding: 10px;
        text-align: left;
    }
    .card-md h2 {
        color: white;
    }
}