page-movie-metadata {
    .backdrop {
        width: 50%;
        margin-right: 0px;
        display: block;
    }
    .search-result:hover {
        background-color: blue;
    }
    .save-toolbar {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 45px;
        text-align: center;
        background-color: #464646;
    }
    .scroll-content {
        padding-bottom: 50px;
    }
}