<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Movie Metadata</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="idPickerIsVisible">
        Selected TMDB ID {{tmdbId}}
        <ion-label color="primary">Inline Label</ion-label>
        <ion-input placeholder="Text Input" [(ngModel)]="searchText"></ion-input>
        <button ion-button (click)="search()">Search</button>
        <ng-container *ngIf="searchResults">
            <i *ngIf="searchResults.length === 0">
                No results found
            </i>
            <ion-card *ngFor="let result of searchResults">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-2>
                                <img [src]="result.posterUrl" />
                            </ion-col>
                            <ion-col>
                                <div>
                                    <h1 class="inline-block">{{result.title}}
                                        <i>({{result.releaseDate|date:"y"}})</i>
                                        <a href="https://www.themoviedb.org/movie/{{result.tmdbId}}" target="_blank">
                                            <ion-badge class="v-center">
                                                <ion-icon name="link"></ion-icon>
                                                TMDB
                                            </ion-badge>
                                        </a>
                                    </h1>
                                </div>
                                {{result.overview}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <div class="text-center">
                        <button ion-button (click)="tmdbId=result.tmdbId">Use this movie</button>
                    </div>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="comparisonEditorIsVisible">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1 class="text-center">Incoming Metadata</h1>
                </ion-col>
                <ion-col>
                    <h1 class="text-center"> Current Metadata</h1>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <metadata-compare-row [comparison]="comparison" property="posterUrls" type="imagelist"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="title" type="text"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="summary" type="textarea"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="description" type="textarea"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="collection" type="text"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="collectionOrder" type="text"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="rating" type="text"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="releaseDate" type="date"></metadata-compare-row>
            <metadata-compare-row [comparison]="comparison" property="runtime" type="text"></metadata-compare-row>
        </ion-grid>
    </ng-container>
</ion-content>