<ion-row>
    <ion-col col-5>
        <ion-item class="fill">
            <ion-label stacked>{{label}} </ion-label>
            <div item-content class="incoming-container label-fill text-white">
                <ion-datetime *ngIf="type == 'date'" disabled displayFormat="MM/DD/YYYY" [(ngModel)]="comparison.incoming[property]"></ion-datetime>
                <p *ngIf="type ==='text' || type === 'textarea'">
                    {{comparison.incoming[property]}}
                </p>
                <image-list *ngIf="type === 'imagelist'" [urls]="comparison.incoming[property]" [comparisonUrls]="comparison.current[property]"
                    buttonType="add" (buttonClick)="addImageUrl(property, $event)" [imageType]="property==='posterUrls'?'poster':'backdrop'"></image-list>
                <image-list *ngIf="type === 'poster'" [urls]="comparison.incoming[property]" [comparisonUrls]="comparison.current[property]"
                    buttonType="add" (buttonClick)="comparison.current[property] = [$event]" [imageType]="property==='posterUrls'?'poster':'backdrop'"></image-list>
                <string-list *ngIf="type === 'stringlist'" buttonType="add" [items]="comparison.incoming[property]" [comparisonItems]="comparison.current[property]"
                    (buttonClick)="addStringItem(property, $event)"></string-list>
            </div>
        </ion-item>
    </ion-col>
    <ion-col col-2 text-center>
        <button tabindex=" -1 " ion-button (click)="comparison.current[property]=comparison.incoming[property].slice() ">
            <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-5>
        <ion-item class="fill">
            <ion-label stacked>{{label}} </ion-label>
            <div item-content class="label-fill">
                <ion-datetime *ngIf="type=='date' " displayFormat="MM/DD/YYYY " [(ngModel)]="comparison.current[property] "></ion-datetime>
                <ion-input *ngIf="type=='text' " [(ngModel)]="comparison.current[property] "></ion-input>
                <ion-textarea *ngIf="type=='textarea' " [(ngModel)]="comparison.current[property] "></ion-textarea>
                <image-list *ngIf="type==='imagelist' " [urls]="comparison.current[property] " buttonType="remove
                    " [allowReorder]="true " (buttonClick)="removeImageUrl(property, $event) " [imageType]="property==='posterUrls' ? 'poster':
                    'backdrop' "></image-list>
                <div *ngIf="type === 'poster'">
                    <img *ngIf="comparison.current[property][0]" class="poster" [src]="comparison.current[property][0]" />
                    <i *ngIf="!comparison.current[property][0]">
                        No poster selected
                    </i>
                </div>
                <string-list *ngIf="type==='stringlist' " buttonType="remove" [showAdd]="true" [items]="comparison.current[property]" (buttonClick)="removeStringItem(property, $event)"></string-list>
            </div>
        </ion-item>
    </ion-col>
</ion-row>